
# requires mod_rewrite
RewriteEngine On

# api base url, all requests in this directory are handled by DIE
RewriteBase /dev/die/api/

# you can make exceptions for directories you want the web server to handle,
# for example a `public` directory containing css and js, like this:
RewriteCond %{REQUEST_URI} !^/dev/die/public/
# you can add more directories below if you want to:



RewriteRule . index.php
